@font-face {
    font-family: 'Rubik';
    src: url(https://fonts.googleapis.com/css2?family=Rubik);
}

$primary-color: #ffffff;
$secondary-color: #1e1e1e;
$accent-color: #ff8000;



body {
    font-family: 'Rubik', sans-serif;;
    background-color: $primary-color;

    padding: 0;
    margin: 0;
}

.section {
    height: 100vh;
    padding: 0 10%;
    
    .section-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        height: 100%;
    }
    .name-left {
        background-color: $primary-color;
        padding: 24px;
        
        box-shadow: 0 0 1rem 1rem $primary-color;

        display: flex;
        flex-direction: column;
        gap: 24px;

        font-size: 2rem;

        border-left: solid 4px $accent-color;

        h1 {
            margin-top: 0;
        }

    }
    .name-right {
        background-color: rgba($color: $accent-color, $alpha: 0.8);
        box-shadow: 0 0 1rem 1.5rem $primary-color; 
    
        .img-accent {
            position: relative;
            left: -10px;
            top: -5px;

            img {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }

    .stats-left {
        background-color: $primary-color;
        padding: 24px;
        height: 70%;
        
        box-shadow: 0 0 1rem 1rem $primary-color;

        display: flex;
        flex-direction: column;
        gap: 24px;

        border-left: solid 4px $accent-color;

        font-size: 1.3rem;
        h3 {
            font-size: 2rem;
        }
    }
    .stats-right {
        background-color: $primary-color;
        padding: 24px;
        height: 70%;
        
        box-shadow: 0 0 1rem 1rem $primary-color;

        display: flex;
        flex-direction: column;
        gap: 24px;

        border-right: solid 4px $accent-color;

        font-size: 1.3rem;
        h3 {
            font-size: 2rem;
        }
        
    }
    .stats-education {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .box {
        padding: 12px;
        border-left: solid 4px $accent-color;;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        gap: 16px;

        .year {
            width: 2rem;
            align-self: center;
            margin: auto;
            flex-basis: 25%;
            color: $accent-color;
            font-size: 1.5rem;
        }
        .place {
            flex-basis: 25%;
            font-size: 1.5rem;
        }
        .subject {
            flex-basis: 50%
        }

        .bar {
            width: 16rem;
            height: 4px;
            background-color: $secondary-color;
            border-radius: 10px;

            .bar-fill {
                width: 50%;
                height: 4px;
                background-color: $accent-color;
                border-radius: 10px;
        
                z-index: 50;
            }
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0 24px;

    .header-phone {
        border: 1px solid $secondary-color;
    }
    .header-mail {
        border: 1px solid $secondary-color;
    }
    .header-name {
        margin-right: auto;
    }


}

#tsparticles {
    position: fixed;
    width: 100%;
    z-index: -10;
}